backups/
logs/
Skyblock/
Skyblock_nether/
Skyblock_the_end/
SMP/
SMP_nether/
SMP_the_end/
./usercache.json
plugins/
!plugins/TAB/
!plugins/LuckPerms/
plugins/LuckPerms/users/
plugins/LuckPerms/yaml-storage/uuidcache.txt
